<div class="container">
     <div class="row">
    <div class="col-md-6" style="margin-left:41.5%;display:inline;margin-right:0%;margin-bottom:3%"><button class="btn btn-sm" ng-click="loginc.customerregistrationpage()" style="display:inline;margin:0%">Are you a Customer</button></div>
    
    <div class="col-md-8" style="display:inline;margin-left:40%"><button class="btn btn-sm" style="display:inline;margin:0%" ng-click="loginc.serviceproviderregistrationpage()">Are you a ServiceProvider</button></div>

     </div>

</div>